$blue: #239ed7;
$primary: $blue;
$steps-active-color: #239ed7;
$steps-completed-color: #239ed7;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-switch/dist/css/bulma-switch.sass";
@import "../../node_modules/@mdi/font/scss/materialdesignicons.scss";

.input,
.textarea,
.file-cta,
.file-name,
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
  border-color: #b1b1b1 !important;
}

input {
  padding-left: 1em !important;
  padding-right: 1em !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-weight: 300;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.success {
  background-color: #48c774 !important;
}
.success:hover {
  background-color: #39bb67 !important;
}

.warning {
  background-color: #ffdd57 !important;
}
.warning:hover {
  background-color: #dbb314 !important;
}

.danger {
  background-color: #e80631 !important;
}
.danger:hover {
  background-color: #bf1434 !important;
}

.color-primary {
  color: #239ed7 !important;
}

.button.is-danger:hover {
  background-color: #bf1434;
}
.button.is-danger {
  background-color: #e80631;
}

.window-size {
  max-width: 1398px;
  max-height: 812px;
  padding: 14px 0;
}

.action-button {
  background-color: #239ed7;
  color: #FFFFFF;
  border: 1px solid #239ed7 !important;

  &:hover {
    color: #FFFFFF;
  }
}

.label {
  font-weight: bold;
  margin-bottom: 0px !important;
  font-size: 0.6em;
}

.value {
  min-height: 24px;
  margin-bottom: 10px;
  font-size: 0.6em;
}

.help {
  min-height: 24px;
  margin-bottom: 10px;
  font-size: 0.5em;
}

.tab-title {
  font-size: 0.8em;
  text-transform: uppercase;
}

.disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

#notification-container {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.center-container {
  text-align: center;
  margin-top: 20%;
}

.center-container span{
  display: block;
  line-height: 0;
  margin-top: 20px;
}

.center-container img{
  display: inline-block;
  opacity: 0.5;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.fab-icon {
  background-color: #239ed7;
  border-radius: 100%!important;
  padding: 8px;
  width: 36px !important;
  height: auto !important;
  transition: 0.5s;
}

.fab-icon-active {
  background-color: #2980B9 !important;
  border: 3px groove red;
  padding: 5px !important;
}

.fab-icon:hover {
  background-color: #2980B9;
  cursor: pointer;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-10 {
  margin-left: 10;
  margin-right: 10px;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.fab-icon {
  background-color: #239ed7;
  border-radius: 100%!important;
  padding: 8px;
  width: 36px;
  transition: 0.5s;
}

.fab-icon-active {
  background-color: #2980B9 !important;
  border: 3px groove red;
  padding: 5px !important;
}

.fab-icon:hover {
  background-color: #2980B9;
  cursor: pointer;
}

.modal-content-container {
  background-color: white;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)!important;
  padding: 25px;
  width: 90%;
}

.image-cropper-modal-content-container {
  background-color: white;
  height: 57%;
  border-radius: 10px;
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)!important;
  padding: 25px;
  width: 90%;
}

.object-fit-contain {
  object-fit: contain;
}

span, h6, label, option, select, a, p {
  font-family: "Poppins" !important;
}

.icon-24 {
  font-size: 24px !important;
  color: #508eff;
  border-radius: 100%;
}

.icon-16 {
  font-size: 16px !important;
}

.flex-center {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}
